<h1>最新の投稿</h1>
<div class="row">
  <% @meals.each do |meal| %>
    <div class="col-xs-12 col-md-4 mb-3">
      <%= render partial: 'meals/meal_card', locals: { meal: meal }%>
    </div>
  <% end %>
</div>
